[submodule "sd-scripts"]
    path = sd-scripts
    url = https://github.com/kohya-ss/sd-scripts.git
[submodule "sancai-training"]
	path = sancai-training
	url = https://codeup.aliyun.com/6358ca79d705c35e6ebf016f/molook/engineering/sancai-training.git
